{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h1 class="h3 mb-0">{{ player.firstName }} {{ player.lastName }}</h1>
                        <div class="btn-group">
                            <a href="{{ path('app_player_edit', {'id': player.id}) }}" class="btn btn-light">
                                <i class="fas fa-edit"></i> Modifier
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h5 class="text-primary">Informations personnelles</h5>
                                <p>
                                    <strong>Date de naissance:</strong><br>
                                    {{ player.birthDate ? player.birthDate|date('d/m/Y') : '' }}
                                </p>
                                <p>
                                    <strong>Nationalité:</strong><br>
                                    {{ player.nationality.nom }}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-primary">Informations sportives</h5>
                                <p>
                                    <strong>Position:</strong><br>
                                    {{ player.position }}
                                </p>
                                <p>
                                    <strong>Numéro:</strong><br>
                                    {{ player.jerseyNumber }}
                                </p>
                                <p>
                                    <strong>Club actuel:</strong><br>
                                    {{ player.club.nom }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-primary">Palmarès</h5>
                                <p>
                                    <strong>Coupes du monde:</strong> {{ player.worldCups }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_player_index') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
