{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ pays.nom }}</h1>

        <div class="row">
            <div class="col-md-4">
                {% if pays.drapeau %}
                    <img src="{{ asset('uploads/drapeaux/' ~ pays.drapeau) }}" alt="Drapeau {{ pays.nom }}" class="img-fluid mb-3">
                {% endif %}
            </div>
            <div class="col-md-8">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Histoire</th>
                            <td>{{ pays.histoire|nl2br }}</td>
                        </tr>
                        <tr>
                            <th>Clubs</th>
                            <td>
                                <ul>
                                {% for club in pays.clubs %}
                                    <li>{{ club.nom }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-3">
            <a href="{{ path('app_pays_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_pays_edit', {'id': pays.id}) }}" class="btn btn-warning">Modifier</a>
            {{ include('pays/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
